body {
  padding: 0 0 10em 0;
  margin: 0;
  font-family: sans-serif;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 3;
  text-align: center;
  padding: 1em;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.present {
  color: #007CE0;
  font-size: 0.9em;
}

.bar {
  text-decoration: none;
  color: #8A8A8A;
}

.bartext {
  font-size: 0.8em;
  padding: 0.5em;
  border: none;
  color: #8A8A8A;
}

.icn {
  color: #8A8A8A;
}

.first {
  background-color: #16193C;
  color: white;
  padding: 1em;
  text-align: center;
}

.help {
  float: right;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #147BFF;
  padding: 1em;
  color: white;
  border-bottom: solid white 3px;
}

.upcoming, .past {
  text-align: center;
  font-size: 1em;
  height: 100%;
  padding: 0;
}

.upcoming {
  
}

.ticket {
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)),
    url('images/inter.jpeg');
  background-size: cover;
  width: 91%;
  height: 10em;
  color: white;
  padding: 20px;
  position: relative;
}

.link {
  text-decoration: none;
}

.tcknum {
  font-size: .8em;
}

.down {
  position: absolute;
  bottom: 0;
  left: 10;
  padding-bottom: 0.6em;
}
